.qa{
    background-color: burlywood;
}

.jd{
    text-align: center;
    color: blue;
}

.sw{
    text-align: center;
    background-color: yellow;
}

.nombre{
    color: red;
    font-weight: bold;
}